a.connexion {
    color: black;
    margin-right: 5%; /* Vous pouvez ajuster la marge selon vos besoins */
    margin-left: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.connexion img{
    width: 44px;
}
.partie_gauche .logo {
    cursor: pointer;
    display: flex;
    height: auto;
    margin: 10px 0px 0px 30px;
    align-items: center; /* Alignement central des éléments */
}
.partie_gauche .logo img {
    width: 32px;
    margin-right: 28px;
}
.partie_gauche .logo-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px; /* Marge ajoutée pour séparer du logo */
}
.partie_gauche .logo-titre .titre {
    color: #1b3168;
    text-align: left;
    font-size: 22px;
    margin: 0px auto 0px 0px;
}
.partie_gauche .logo-titre .sous-titre {
    font-size: 14px;
    font-weight: 500;
    color: #5D7285;
    word-spacing: 3px;
    line-height: 1;
}
.partie_gauche .navigation {
    display: flex;
    flex-direction: column; /* Changement de la direction en colonne */
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    line-height: 2;
}
.partie_gauche .bouton-menu2, .bouton-menu3 {
    color: #757575;
    border: none;
    margin-top: 8px; /* Marge ajoutée entre les boutons */
    font-size: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.bouton-menu1 {
    color: #1b3168;
    border-radius: 5px; /* Ajout d'une bordure arrondie */
    margin-top: 8px;
    font-size: 23px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #F6F6F6;
    height: 38px;
    width: 253px;
}
.bouton-menu2:hover{
    background-color: #F6F6F6;
}
.bouton-menu3:hover{
    background-color: #F6F6F6;
}
.bouton-menu1 img {
    width: 44px;
    margin-right: 10px;
}
.bouton-menu2 img{
    width: 44px;
    margin-right: 10px;
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(86%) contrast(81%);
}
.bouton-menu3 img {
    width: 44px;
    margin-right: 10px;
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(86%) contrast(81%);
}
.nouveaux-menus a{
    display: flex;
    text-decoration: none;
    color: #757575;
    font-size: 23px;
}
.nouveaux-menus img{
    width: 44px;
    display: flex;
    align-items: center;
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(86%) contrast(81%);
}
p{
    width: 95%;
    font-size: 23px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-top: 24px;
}
h2{
    padding-left: 50px;
    line-height: 2;
}
ol{
    margin-left: 30px;
    font-size: 22px;
}
.compte{
    color: black;
    margin-right: 5%; /* Vous pouvez ajuster la marge selon vos besoins */
    margin-left: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.deconnexion{
    display: none;
}
.compte:hover .deconnexion{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    margin-left: -15px;
    margin-top: 130px;
    position: absolute;
    width: 300px;
    height: 60px;
    border-color: #1b3168;
    border-style: solid;
    background-color: white;
    border-radius: 7px;
}
.compte:hover .deconnexion a{
    text-decoration: none;
    color: black;
    margin: -25px auto auto 0px;
}
.formulaire label{
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    margin-left: 2.5%;
    margin-bottom: 10px;
}

.formulaire input[type="email"],
.formulaire input[type="password"]{
    display: block;
    margin-bottom: 15px;
    width: 459px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 2.5%;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid #F6F6F6;
}

.formulaire input[type="submit"] {
    background-color:#F6F6F6;
    color: #757575;
    cursor: pointer;
    border: none;
    width: 172px;
    height: 56px;
    font-size: 16px;
    margin-left: 2%;
    border-radius: 8px;
}

.formulaire a {
    text-decoration: none;
    color: #757575;
    gap: 52px;
    margin-left: 113px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
