body{
    margin: 0px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
.contenaire{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1080px;
}

.partie_gauche{
    display: flex;
    z-index: 2;
    flex-direction: column;
    width: 19.5%;
    height: auto;
    background-color: white;
    box-shadow: 8px 8px 25px rgba(187, 183, 183, 0.442); /* effet d'ombre */   
}
.partie_droite{
    display: flex;
    flex-direction: column;
    width: 80.5%;
    height: auto;
    background-color: #EFF2F4;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 91.6px;
    background-color: white;
    justify-content: end;
}
.titre{
    height: 29px;
    font-size: 28.85px;
    font-weight: 700;
    line-height: 24.57px;
    margin-right: auto;
    font-family: "Epilogue", sans-serif; 
    color:#1B3168;
}
.titre_categorie{
    height: 29px;
    font-size: 28.85px;
    font-weight: 700;
    margin-left: 3.5%;
    margin-top: 58.6px;
    line-height: 24.57px;
    margin-right: auto;
    font-family: "Epilogue", sans-serif; 
    margin-bottom: 27.34px;
    color:#1B3168;
}
.blockblanc{
    display: flex;
    flex-direction: column;
    width: 94.0%;
    height: 800px;
    margin-bottom:auto;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7.36px;
    background-color: white;
}
.mentionlegales{
    font-size: 20px;
    color: #000000;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mentionlegales {
    margin-left: 30px;
    margin-top: 31.3px;
    margin-bottom: 9px;
}

.mentionlegales-text {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.connexion {
    color: black;
    margin-right: 20px; /* Vous pouvez ajuster la marge selon vos besoins */
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.connexion img{
    width: 44px;
}

.barre-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    width: 297.29px;
    height: 100vh; /* Utilisation de la hauteur de la fenêtre */
    left: 0; /* Positionnement à gauche de la fenêtre */
    top: 0; /* Positionnement en haut de la fenêtre */
    font-weight: bold;
}

.barre-navigation .logo {
    cursor: pointer;
    display: flex;
    align-items: center; /* Alignement central des éléments */
    margin-top: 30px;
}

.barre-navigation .logo img {
    width: 32px;
    margin-right: 28px;
}

.barre-navigation .logo-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px; /* Marge ajoutée pour séparer du logo */
}

.barre-navigation .logo-titre .titre {
    color: #1b3168;
    font-size: 22px;
}

.barre-navigation .logo-titre .sous-titre {
    font-size: 14px;
    font-weight: 500;
    color: #5D7285;
    line-height: 2;
}

.barre-navigation .navigation {
    display: flex;
    flex-direction: column; /* Changement de la direction en colonne */
    margin-top: 82px;
    margin-right: 21px;
    line-height: 2;
}

.barre-navigation .bouton-menu {
    color: #757575;
    border: none;
    margin-top: 8px; /* Marge ajoutée entre les boutons */
    font-size: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bouton-menu1 {
    color: #1b3168;
    border-radius: 5px; /* Ajout d'une bordure arrondie */
    margin-top: 8px;
    font-size: 23px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #F6F6F6;
    height: 38px;
    width: 253px;
}


.bouton-menu1 img {
    width: 44px;
    margin-right: 10px;
}

.bouton-menu img {
    width: 44px;
    margin-right: 10px;
}

.bloc1 {
    background-color: #eff2f4;
    height: 92vh;
    padding-top: 33px;
}

.bloc1 h1 {
    color: #1b3168;
    font-size: 45px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    justify-content: space-around;
    margin-right: 58%;
    height: 80px;
}

.jaune-rectangle {
    width: 170vh;
    height: 73vh;
    background-color: white;
    margin: auto;
    margin-right: 49px;
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 10px;
}

h2{
    padding-left: 50px;
    line-height: 2;
}

ol{
    margin-left: 30px;
    font-size: 22px;
}

.footer {
    margin-left: 326px;
    margin-top: 30px;
}

.footer-text {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
.description{
    font-size: 18px;
    margin-left: 25px;
    margin-top: 30px;
    color: rgb(91, 91, 91);
}
form{
    margin-top: 30px;
    margin-left: 25px;
}
label{
    color: rgb(91, 91, 91);
    font-size: 18px;
    font-weight:700;
}
input{
    margin-top: 9px;
    height: 50px;
    width: 500px;
    border: rgb(238, 238, 238) 2px solid;
    border-radius: 10px;
    color: rgb(91, 91, 91);
    font-size: 16px;

}
button{
    margin-top: 25px;
    height: 50px;
    width: 150px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    border: none;
    color: rgb(91, 91, 91);
    font-size: 16px;
    font-weight: bold;
}
.error{
    color: rgb(91, 91, 91);
    font-size: 20px;
    margin-top: 30px;
}
.reponse{
    color: rgb(91, 91, 91);
    font-size: 20px;
    margin-top: 30px;
}
