body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eff2f4;
  }
  
  .barre-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 297px;
    background-color: #FFFFFF;
    padding-top: 15px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex; /* Ajout */
    flex-direction: column; /* Ajout */
    align-items: center; /* Ajout */
  }
  
  .barre-navigation li {
    list-style: none;
    margin-left: 16px;
    line-height:2;
  }
  
  .navigation{
      padding-top:75px;
  }
  
  .barre-navigation ul li {
    padding: 10px 20px;
  }
  
  .barre-navigation strong{
      margin-left:6px;
  }
  
  .barre-navigation a.accueil-liens {
      background-color: #F6F6F6;
      color: #1B3168;
      width: 253.38px;
      height: 38.64px;
      padding: 0px 7.32px 0px 7.32px;
      border-radius: 3.66px;
      display: flex;
      align-items: center;
      text-decoration:none;
  }
  
  .barre-navigation a.recherche-liens {
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
  }
  
  .barre-navigation a.fonctions-liens {
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
  }
  
  .deconnexion .deconnexion-liens{
    color: #757575;
    display: flex;
      align-items: center;
      text-decoration:none;
      font-size:14px;
      background-color:#F6F6F6;
      width:253px;
      height:38px;
    }
  
  .deconnexion{
    margin-top: 265%;
  }
  
  .barre-navigation a img {
      margin-right: 10px;
  }
  
  .ensembles-logo  {
    display: flex;
    position: relative;
    margin-left: 15px;
  }
  
          .ensembles-logo-titre img{
              width: 32px;
              height: 34px;
          }
  
          .ensembles-logo-titre {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 15px;
          }
  
          .ensembles-logo-titre .titre{
              color: #1B3168;
              font-size: 26px;
          }
  
          .ensembles-logo-titre .sous-titre {
              font-size: 17px;
              font-weight: 500;
              color: #5D7285;
          }
  
  header {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 96px;
  }
  
  .header-droite {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  .header-droite a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: flex;
      align-items: center;
  }
  
  .header-droite img{
      margin-right: 10px;
      width: 21px;
      height: 20px;
  }
  
  .profil-image {
      width: 30px; /* ou la taille que vous souhaitez */
      height: 30px; /* ou la taille que vous souhaitez */
      border-radius: 50%; /* rend l'image ronde */
  }
  
  .contenu {
    padding-top: 35px;
  }
  
  .contenu h1{
      margin-left: 19%;
      color: #1B3168;
      font-size:28px;
  }
  
  .carre-blanc {
      width: 1518px;
      height: 762px;
      background-color: #FFFFFF;
      border-radius: 7.36px;
      position: absolute;
      top: 605px;
      left: 58%;
      transform: translate(-50%, -50%);
  }
  
   p{
      font-size: 18px;
      margin-left:20px;
      color: #757575;
  }
  
  .carre-blanc h2{
      padding-left: 50px;
      line-height: 2;
      font-weight: 500;
  }
  
  .carre-blanc ol{
      margin-left: 30px;
      font-size: 22px;
  }
  
  footer {
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .mentionlegales {
    font-size: 20px;
    color: #000000;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    margin-top: 31.3px;
    margin-bottom: 9px;
  }
  
  .mentionlegales-text {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
  }
  table{
    border: solid 1px #dadada;
    border-radius: 10px;
    border-spacing: 0;
    margin-left: 50px;
     
  }  
  thead{
    background-color: #e8e8e8;
    height: 40px;
  }
  .nom{
    height: 60px;
    width: 300px;
    border-top: #dadada 1px solid;
  }
  .thematiques{
    width: 200px;
    border-top: #dadada 1px solid;
  }
  .fichiers{
    width: 290px;
    border-top: #dadada 1px solid;
  }
  .actions{
    width: 250px;
    border-top: #dadada 1px solid;
  }
  thead p{
    color: black;
  }