body {
    margin: 0;
    padding: 0;
    background-color: #eff2f4;
  }
  
  .barre-navigation {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 297px;
      background-color: #FFFFFF;
      padding-top: 15px;
      box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
      z-index: 1;
      display: flex;
      flex-direction: column; 
  }
  
  .barre-navigation li {
      list-style: none;
      margin-left: 16px;
      line-height:2;
  }
  
  .navigation{
      padding-top:75px;
  }
  
  .barre-navigation ul li {
    padding: 10px 20px;
  }
  
  .barre-navigation strong{
      margin-left:6px;
  }
  
  .barre-navigation a.accueil-liens {
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
      font-family:'Popins', sans-serif;
      font-weight:400;
  }
  
  .barre-navigation a.recherche-liens {
      background-color: #F6F6F6;
      color: #1B3168;
      width: 253.38px;
      height: 38.64px;
      padding: 0px 7.32px 0px 7.32px;
      border-radius: 3.66px;
      display: flex;
      align-items: center;
      text-decoration:none;
      font-family:'Popins', sans-serif;
      font-weight:700;
  }
  
  .barre-navigation a.fonctions-liens {
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
      font-family:'Popins', sans-serif;
      font-weight:400;
  }
  
  .barre-navigation a.mesexercices-liens {
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
      font-family:'Popins', sans-serif;
      font-weight:400;
  }
  
  .barre-navigation a.soumettre-liens {
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
      font-family:'Popins', sans-serif;
      font-weight:400;
  }
  
  .deconnexion .deconnexion-liens{
      color: #757575;
      display: flex;
      align-items: center;
      text-decoration:none;
      font-size:14px;
      background-color:#F6F6F6;
      width:253px;
      height:38px;
      font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .deconnexion{
      margin-top: 232%;
  }
  
  .barre-navigation a img {
      margin-right: 10px;
  }
  
  .ensembles-logo  {
      display: flex;
      position: relative;
      margin-left: 15px;
  }
  
  .ensembles-logo-titre img{
      width: 32px;
      height: 34px;
  }
  
  .ensembles-logo-titre {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      font-family:'Epilogue', sans-serif;
  }
  
  .ensembles-logo-titre .titre{
      color: #1B3168;
      font-size: 26px;
      font-weight: 600;
  }
  
  .ensembles-logo-titre .sous-titre {
      font-size: 16px;
      color: #5D7285;
  }
  
  header {
      background-color: #FFFFFF;
      position: relative;
      width: 100%;
      height: 96px;
  }
  
  .header-droite {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }

  .header-droite img {
    margin-right: 5px;
 } 
  
  .header-droite a {
      text-decoration: none;
      color: #333;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
  }
  
  .header-droite .compte {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
  
.header-droite .profil-image {
    margin-right: 10px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-left: 5px;
}
  
  .contenu {
      padding-top: 15px;
  }
  
  .contenu h1{
      margin-left: 19%;
      color: #1B3168;
      font-size:28px;
      font-family:'Epilogue', sans-serif;
      font-weight:600;
  }
  
  .carre-blanc  {
      width: 79%;
      height: 832px;
      background-color: #FFFFFF;
      border-radius: 7.36px;
      position: absolute;
      top: 605px;
      left: 58%;
      transform: translate(-50%, -50%);
      overflow-x: auto; 
  }
  
  .carre-blanc form {
      margin: 0 auto;
      margin-left: 42px;
      margin-top: 55px;
  }
  
  .carre-blanc label{
      color:#666666;
      font-size:16px;
      font-family:'Noto Sans', sans-serif;
      font-weight:600;
  }
  
  .carre-blanc .form-group {
      display: inline-block;
      margin-right: 10px;
  }
  
  .form-group input[type="text"] {
      display: block;
      margin-top: 5px;
      border:2px solid #F6F6F6;
      width:242px;
      height:56px;
      border-radius:8px;
      color:#666666;
  }
  
  .form-group select {
      display: block;
      margin-top: 5px;
      border:2px solid #F6F6F6;
      width:242px;
      height:63px;
      border-radius:8px;
      color:#666666;
  }
  
  .carre-blanc input[type="submit"] {
      margin-top: 10px;
      margin-left: 0;
      width: 172px;
      height: 56px;
      border-radius: 8px;
      padding: 16px;
      background-color: #F6F6F6;
      color: #757575;
      font-size: 16px;
      border: none;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 700;
  }
  
  .carre-blanc p{
      color: #1B3168;
      margin-left: 40px;
      font-size: 20px;
      font-family: 'Epilogue', sans-serif;
      font-weight: 600;
      margin-top: 40px;
  }
  
  .carre-blanc table {
      border-collapse: collapse;
      width: 1240px;
      height: 44px;
      border-radius: 8px; /* Arrondir les bords du tableau */
      overflow: hidden; /* Pour cacher les coins arrondis débordants */
      border: 1px solid #E7E7E7; /* Bordure du tableau */
      margin-left: 40px;
      margin-top: 25px;
  }
  
  .carre-blanc th, td {
      padding: 8px;
      border-bottom: 1px solid #E7E7E7; 
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
  }
  
  .carre-blanc th {
      background-color: #F0F0F0;
      color: #464646;
      text-align: left;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 14px
  }
  
  .carre-blanc td:nth-child(1) {
      color: #74828F;
  }
  
  .carre-blanc td:nth-child(2) {
      color: #74828F;
  }
  
  .carre-blanc td a{
      text-decoration:none;
      color:#74828F;
      margin-right: 5px;
  }
  
  .carre-blanc img{
      margin-right:5px;
      position: relative;
      top: 5px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .mentionlegales {
      font-size: 20px;
      color: #000000;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-left: 350px;
      margin-top: 31.3px;
      margin-bottom: 9px;
      font-family:'Poppins', sans-serif;
      font-weight: 400;
  }
  
  .mentionlegales-text {
      display: inline-block;
      margin: 0 10px;
      font-size: 20px;
  }
  
  .keyword {
      display: inline-block;
      padding: 5px 10px;
      margin: 5px;
      border-radius: 20px;
      background-color: #DBDBDB;
      border:none;
  }
