body{
    margin: 0px;
    overflow-x: hidden;
    font-family: "Epilogue", sans-serif; 
}
.contenaire{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.partie_gauche{
    display: flex;
    z-index: 2;
    flex-direction: column;
    width: 19.5%;
    height: 840px;
    background-color: white;
    box-shadow: 8px 8px 25px rgba(187, 183, 183, 0.442); /* effet d'ombre */   
}
.partie_droite{
    width: 80.5%;
    height: 840px;
    background-color: #EFF2F4;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 91.6px;
    background-color: white;
}

.titre{
    width: 138.6px;
    height: 29px;
    font-size: 28.85px;
    font-weight: 700;
    margin-left: 3.5%;
    margin-top: 58.6px;
    line-height: 24.57px;
    margin-right: auto;
    font-family: "Epilogue", sans-serif; 
    margin-bottom: 27.34px;
    color:#1B3168;
}

h2{
    color: black;
}

p{
    color: gray;
}

input{
    width: 350px;
    height: 30px;
}

.button{
    background-color: gainsboro;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button2{
    background-color: darkseagreen;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


/* Menu onglet */

#menu-tab {
	/*background: white;*/
    font-family: 'trebuchet ms', geneva; 
	font-size: 11pt;
	color:white;
	}
	
#menu-tab a {
color: grey;
font-weight: normal;
font-style: normal;
text-decoration: none;
font-variant: normal;
}

#menu-tab a:hover{
color: green;

}
	
/*--------------Dimensions tableau--------------*/

#page-wrap {
	  width: 95%;
	  margin: 10px auto;
	}
	
/*--------------Onglets--------------*/

.tabs {
      position: relative;   
      min-height: 500px; /* This part sucks */
      clear: both;
      margin: 25px 0px;
    }
    .tab {
      float: left;
    }
    .tab label {
      background: #1B3168;
      padding: 10px 40px; 
      border: 1px solid #ccc; 
      margin-left: -1px; 
        margin-right: 10px;
      position: relative;
      left: 1px; 
      border-radius: 10px 10px 0px 0px;
      
    }
    .tab [type=radio] {
      display: none;   
    }
	
/*--------------Contenu article onglet--------------*/
    .content {
      position: absolute;
      top: 28px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #ccc; 
      border-radius: 0px 10px 10px 10px;
      overflow: hidden;
	  overflow-y: auto;
	  margin-bottom: -20px;
    }
    .content > * {
      opacity: 0;
      
      -webkit-transform: translate3d(0, 0, 0);
    
      -webkit-transform: translateX(-100%);
      -moz-transform:    translateX(-100%);
      -ms-transform:     translateX(-100%);
      -o-transform:      translateX(-100%);
      
      -webkit-transition: all 0.6s ease;
      -moz-transition:    all 0.6s ease;
      -ms-transition:     all 0.6s ease;
      -o-transition:      all 0.6s ease;
    }
	
/*-------------Onglets actifs--------------*/

    [type=radio]:checked ~ label {
      background: #1B3190;
      border-bottom: 1px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
    [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      
      -webkit-transform: translateX(0);
      -moz-transform:    translateX(0);
      -ms-transform:     translateX(0);
      -o-transform:      translateX(0);
    }
/*--------------Images--------------*/

	.content img {
	border:4px solid white;
	box-shadow:6px 6px 10px grey;
	-webkit-transition: all 0.6s ease;
      -moz-transition:    all 0.6s ease;
      -ms-transition:     all 0.6s ease;
      -o-transition:      all 0.6s ease;
	}
	
	.content img:hover {
	opacity: 0.8;
	-webkit-transform: rotate(7deg);
      -moz-transform:    translateX(0);
      -ms-transform:     translateX(0);
      -o-transform:      translateX(0);
	  
	  -webkit-transition: all 0.6s ease;
      -moz-transition:    all 0.6s ease;
      -ms-transition:     all 0.6s ease;
      -o-transition:      all 0.6s ease;
	  }








/* Menu onglet */

.mentionlegales{
    font-size: 20px;
    color: #000000;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mentionlegales {
    margin-left: 30px;
    margin-top: 31.3px;
    margin-bottom: 9px;
}

.mentionlegales-text {
    display: inline-block;
    margin: 0 5px;
    font-size: 15px;
}

a.connexion {
    color: black;
    margin-right: 5%; /* Vous pouvez ajuster la marge selon vos besoins */
    margin-left: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.connexion img{
    width: 44px;
}
.partie_gauche .logo {
    cursor: pointer;
    display: flex;
    height: auto;
    margin: 10px auto;
    align-items: center; /* Alignement central des éléments */
}

.partie_gauche .logo img {
    width: 32px;
    margin: 20px 28px 0px 0px;
}
.partie_gauche .logo-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; /* Marge ajoutée pour séparer du logo */
}
.partie_gauche .logo-titre .titre {
    color: #1b3168;
    text-align: left;
    font-size: 22px;
    margin: 0px auto 0px 0px;
}
.partie_gauche .logo-titre .sous-titre {
    font-size: 14px;
    font-weight: 500;
    color: #5D7285;
    word-spacing: 3px;
    line-height: 1;
}
.partie_gauche .navigation {
    display: flex;
    flex-direction: column; /* Changement de la direction en colonne */
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    line-height: 2;
}
.partie_gauche .bouton-menu2, .bouton-menu3 {
    color: #757575;
    border: none;
    margin-top: 8px; /* Marge ajoutée entre les boutons */
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.bouton-menu1 {
    color: #1b3168;
    border-radius: 5px; /* Ajout d'une bordure arrondie */
    margin-top: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #F6F6F6;
    height: 38px;
    width: 253px;
}
.bouton-menu2:hover{
    background-color: #F6F6F6;
}
.bouton-menu3:hover{
    background-color: #F6F6F6;
}
.bouton-menu1 img {
    width: 44px;
    margin-right: 10px;
}
.bouton-menu2 img{
    width: 44px;
    margin-right: 10px;
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(86%) contrast(81%);
}
.bouton-menu3 img {
    width: 44px;
    margin-right: 10px;
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(86%) contrast(81%);
}
.nouveaux-menus a{
    display: flex;
    text-decoration: none;
    color: #757575;
    font-size: 23px;
}
.nouveaux-menus img{
    width: 44px;
    display: flex;
    align-items: center;
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(86%) contrast(81%);
}


header .compte{
    color: black;
    margin-right: 5%; /* Vous pouvez ajuster la marge selon vos besoins */
    margin-left: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.deconnexion{
    display: none;
}
.compte:hover .deconnexion{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    margin-left: -15px;
    margin-top: 130px;
    position: absolute;
    width: 300px;
    height: 60px;
    border-color: #1b3168;
    border-style: solid;
    background-color: white;
    border-radius: 7px;
}
.compte:hover .deconnexion a{
    text-decoration: none;
    color: black;
    margin: -25px auto auto 0px;
}